.img-olxlogo{
    width: 50px;
    height: 30px;
}
/* .add-icon{
    width: 20px;
    height: 20px;
}
.navbar-brand{
    border: 1px solid transparent;
}
.navbar-brand:hover{
    transition: ease-in-out all 0.3s;
    background-color: white;
} */
.user-img{
    width: 35px;
    height: 30px;
    border-radius: 50%;
}